[Unit]
Description=Ciruela File Sync Tool
After=mintaka-init.service

[Service]
Type=simple
EnvironmentFile=/etc/mintaka.env
User=ciruela
ExecStart=/usr/bin/ciruela-server --host=${INTERNAL_IP}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
