[Unit]
Description=Lithos Supervisor service

[Service]
Type=simple
EnvironmentFile=/etc/mintaka.env
ExecStart=/usr/bin/lithos_tree
Restart=always

[Install]
WantedBy=multi-user.target
