[Unit]
Description=Swindon Web Server
After=mintaka-init.service

[Service]
Type=simple
Environment="RUST_LOG=warn"
ExecStart=/usr/bin/swindon --config=/etc/sync-configs/swindon/main.yaml
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
