[Unit]
Description=Verwalter configuration service

[Service]
Type=simple
Environment="RUST_LOG=warn"
User=verwalter
ExecStart=/usr/bin/verwalter --host 127.0.0.1 --use-sudo
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
